/* @font-face {
  font-family: 'Comforter', cursive;
 } */

 html {
  font-family: 'Comforter';
  font-style: cursive;
}

body {
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background: url("/assets/bg.jpeg") no-repeat #0a0e34 center;
  background-size: cover;
  position: relative;
  font-size: 30px;
  color: #FFFFFF;
}

.main::after {
  background: linear-gradient(45deg, rgba(10,14,31,0.7), rgba(10,14,52,0.7));
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.conteiner {
  z-index: 2;
  /* min-height: 100vh; */
  position: relative;
  border: black 1px solid;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.ancients {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ancient_img {
  width: 230px;
  margin: 20px;
  border-radius: 5%;
}

.ancient_header {
  font-size: 45px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.ancient_active {
  border: 1px solid #FF0000;
  transition: 0.3s ease-out;
}

.dificulty_container {
  width: 20%;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dif_levels {
  list-style: none;
}

.dif_level {
  margin-top: 40px;
  cursor: pointer;
  padding: 10px;
}

.dif_active {
  border: 1px solid #FF0000;
  border-radius: 10px;
  transition: 0.3s ease-out;
}

.game_container {
  width: 45%;
}